{
  "appen_job": 1884388,
  "mask_id": 10000000,
  "file_cheaters": "/_output/cheaters.csv",
  "file_heroku": "heroku_data.csv",
  "file_appen": "appen_data.csv",
  "path_stimuli": "/public/img",
  "mapping": "/textehmi/stimuli/mapping.csv",
  "path_output": "/_output",
  "path_figures": "/figures",
  "save_figures": true
}